body{
    overflow-x:hidden;
}
#todoHead{
    margin-left:10px;
}
.taskHead{
    font-size:20px;
    color:darkblue;
    font-weight: bolder;
}
.taskBox{
    margin:10px;
    padding:15px;
    border:3px solid;
}
.taskBoxComp{
    margin:10px;
    padding:15px;
    border:3px solid lightgreen;
}
.taskBoxIncomp{
    margin:10px;
    padding:15px;
    border:3px solid red;
}
.sideAtt{
    min-height:100px;
    min-width:100%;
}
